<br/>
<div class="container">
  <h1 class="text-center" style="font-size: 60px;font-weight: bold">2. Co to soap a co to rest</h1>
  <p>Klika słów wstępu:</p>
  <p>SOAP to protokół. SOAP został zaprojektowany ze specyfikacją. Zawiera plik WSDL, który ma wymagane
        informacje o tym, co robi usługa internetowa oprócz jej lokalizacji. Soap był dużo wczesniej od resta.</p>
  <p>
    REST to styl architektoniczny, w którym usługa internetowa może być traktowana jako usługa RESTful, tylko jeśli jest
    zgodna z
    ograniczeniami
  <ul style="list-style-type: decimal">
    <li>Serwer klienta</li>
    <li>Bezstanowa</li>
    <li>Cachowana</li>
    <li>Systemem warstwowym</li>
    <li>Posiada jednolity interface</li>
  </ul>

<p style="color:red;font-weight: bold;font-size: 25px">WNIOSKI: Widzimy tutaj pierwszą roznice. SOAP jest protokołem czyli tak jakby gotowym rozwiązaniem z kolei REST wzorzec narzucający dobre praktyki. Coś nazywamy RESTfull Webservice tylko wtedy jeśli spełnia dane wymagania(Powyzsze 5)</p>
</div>
