<br/>
<div class="container">
  <h1 class="text-center" style="font-size: 60px;font-weight: bold">2. Co to soap a co to rest</h1>
  <p>Klika słów wstępu:</p>
  <p>
  SOAP (ang. Simple Object Access Protocol) – protokół komunikacyjny wykorzystujący XML do kodowania wywołań i najczęściej protokół HTTP do ich przenoszenia, możliwe jest jednak wykorzystanie innych protokołów do transportu danych.

  <p>
  REST (ang. Representational State Transfer) jest wzorcem narzucającym dobre praktyki tworzenia architektury aplikacji rozproszonych. RESTful Webservices (inaczej RESTful web API) jest usługą sieciową zaimplementowaną na bazie protokołu HTTP i głównych zasad wzorca REST:
  <ul style="list-style-type: decimal">
    <li>Serwer klienta</li>
    <li>Bezstanowa</li>
    <li>Cachowana</li>
    <li>Systemem warstwowym</li>
    <li>Posiada jednolity interface</li>
  </ul>


<p style="color:red;font-weight: bold;font-size: 25px">WNIOSKI: Widzimy tutaj pierwszą roznice. SOAP jest protokołem czyli tak jakby gotowym rozwiązaniem  ktora wymszusza  odpowiednia konfiguracje z kolei REST wzorzec narzucający dobre praktyki. Coś nazywamy RESTfull Webservice tylko wtedy jeśli spełnia dane wymagania(Powyzsze 5)</p>
</div>
