<br/>
<div class="container">
  <h1 class="text-center" style="font-size: 60px;font-weight: bold">13. Serwer</h1>
<p>Protokół SOAP jest ściśle powiązany z serwerem i ma z nim ścisłą umowę komunikacyjną, co utrudnia wprowadzanie zmian lub aktualizacji. Klient wchodzący w interakcję z interfejsem API REST nie potrzebuje wiedzy o interfejsie API, ale klient wchodzący w interakcję z interfejsem API SOAP potrzebuje wiedzy o wszystkim, czego będzie używał, zanim będzie mógł zainicjować interakcję.</p>
  <p>Czyli tak po ludzku chodzi o to ze do SOAPA musi byc szczegółowa dokumentacja zanim czegoś użyjemy w zapytaniu</p>
  <p style="white-space: pre-line;color:#8a6d3b">{{soap}} </p>
  <p>Musimi mieć url pod jakim stoi ten soap http://localhost:8080/ws dodatkowo xmlns:sch czyli ten schemat do którego sie odwołuje i sch:DeleteUserRequest jakie zapytanie wykonuje</p>
    <br/><br/><br/>
  <p style="white-space: pre-line;color:#8a6d3b">{{rest}} </p>
  <p>W rescie wystarczy nam samo api</p>
  <p style="color:red;font-weight: bold;font-size: 25px">Z restem jest lepsza komunikacja tak naprawde. Sa mniejsze endpointy mniej danych musimy wiedziec mniej co za tym idzie dokumentacja do REST endpointów moze byc mniejsa. </p>
</div>


