<br/>
<div class="container">
  <h1 class="text-center" style="font-size: 60px;font-weight: bold">3. Stanowość</h1>
  Jednym z założeń RESTa jest komunikacja bezstanowa, co skutkuje brakiem tworzenia czy przechowywania sesji po stronie serwera, co wpływa korzystnie na łatwość powiększania systemu, czy jego modernizację. SOAP może działać zarówno bezstanowo, jak i z wykorzystaniem sesji.

  <p style="color:red;font-weight: bold;font-size: 25px">Tutaj nie ma roznic. SOAP i REST działa bezstanowo co jest bardzo istotne</p>
</div>


