
<br/>
<div class="container">
  <h1 class="text-center" style="font-size: 60px;font-weight: bold">9. Bezpieczenstwo</h1>
  <p>Nie bedę tutaj tego opisywał bo musiałbym wrzucić tutaj sporo kodu a będzie to tak średnio zapewne czytelne. Napisze glownie co jest zrobione jakie mechanizmy technologie.</p>
  <p>Jest mechanizm spring security(spring session)po stronie resta skonfigurowany. Api do logowania wylogowania itd... Mechanizm po stronie soap wsdl-security.No i w cześci teoretyczne będzie tu można sporo opisać bo jest dużo różnic(konfiguracja roznice które lepsze co dają etc etc.)</p>
  <p style="color:red;font-weight: bold;font-size: 25px">Ogólnie soap w tym jednym elemencie będzie niestety miał jakąś tam letką przewage :((((((</p>
</div>


