<br/>
<div class="container">
  <h1 class="text-center" style="font-size: 60px;font-weight: bold">15. Zastosowania</h1>
  <p>Funkcjonalnie patrząc, praktycznie każdą usługę sieciową można oprzeć zarówno na SOAP, jak i na REST. Z uwagi na wydajność i wygodę, obecnie zdecydowanie częściej korzysta się z RESTful API. Część istniejących już webserwisów opartych na SOAP, jest przepisywana na REST, pomimo próby zachowania obecnej funkcjonalności. Zastosowanie SOAPa jest bardziej wyspecjalizowane i może mieć on przewagę dla aplikacji, w których kluczowe jest bezpieczeństwo, jak np. różne usługi finansowe, bramki płatności.</p>
  <p style="color:red;font-weight: bold;font-size: 25px">SOAP  ze wzgledu na to ze ma własny mechanizm do ochrony dla aplikacji które wymagają mega mega ochrony może byc faktycznie lepszym wyborem
  ale oprócz tego w kazdym innym przypadku lepszy jest REST ze wzgledu na prostote wydajnosc intyuicyjnosc sparcie dokumentacje.
  </p>
</div>


