<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<b><h1 class="text-center">Rest vs Soap </h1></b>

<div class="container">
<h2 class="text-center">User rest</h2>
 <p>curl -v localhost:8080/api/rest/user/find?page=0&size=10&name=test</p>
  <p>curl -X DELETE localhost:8080/api/rest/user/delete/5</p>
  <p>curl -d '{{"{"}}"id": "","firstname": "test","lastname": "test","email": "test0@op.pl","phoneNumber": 1231231,"password": "GHJbnm123","userRoles": {{"{"}}"id": 1,"userRole": "CASUAL_USER"{{"}"}}{{"}"}}' -H 'Content-Type: application/json' localhost:8080/api/rest/user/add</p>
  <p>curl -d '{{"{"}}"id": "1","firstname": "test","lastname": "test","email": "test0@op.pl","phoneNumber": 1231231,"password": "GHJbnm123","userRoles": {{"{"}}"id": 1,"userRole": "CASUAL_USER"{{"}"}}{{"}"}}' -H 'Content-Type: application/json' -X PUT  localhost:8080/api/rest/user/edit
  </p>
  <h2 class="text-center">Book rest</h2>
  <p>curl -v localhost:8080/api/rest/book/find?page=0&size=10&author=author</p>
  <p>curl -X DELETE localhost:8080/api/rest/book/delete/5</p>
  <p>curl -d {{"{"}}"id": "","author": "author4","title": "title4","publisher": "publisher4","date": "2019-12-01","isbn": "isbn4","quant": 4,"bookSearch": "bookSearch4","description": "description4","bookState": "NOTRESERVED","bookCategory": [{{"{"}}"id": 1,"categoryType": "Fantasy"{{"}"}}]{{"}"}} H 'Content-Type: application/json' localhost:8080/api/rest/book/add</p>
  <p>curl -d {{"{"}}"id": "1","author": "author4","title": "title4","publisher": "publisher4","date": "2019-12-01","isbn": "isbn4","quant": 4,"bookSearch": "bookSearch4","description": "description4","bookState": "NOTRESERVED","bookCategory": [{{"{"}}"id": 1,"categoryType": "Fantasy"{{"}"}}]{{"}"}} H 'Content-Type: application/json' localhost:8080/api/rest/book/edit</p>


</div>



</body>
<router-outlet></router-outlet>
