<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="text-center">
  <h1>Spis treści(Klikalna lista/navigacja klikniecie powoduje przejscie pod odpowiednia strone)</h1>
  <div class="text-center">
    <div class="row d-flex justify-content-center">
      <div class="col-8" pos>
        <div class="list-group" id="list-tab" role="tablist">
          <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" routerLink="/wstep" routerLinkActive="active" role="tab" aria-controls="home">Wstep</a>
          <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" routerLink="/wydajnosc" routerLinkActive="active"  role="tab" aria-controls="profile">Wydajnosc</a>
          <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" routerLink="/test" routerLinkActive="active"  role="tab" aria-controls="messages">Testy</a>
        </div>
      </div>
    </div>
  </div>

</div>
<router-outlet></router-outlet>
</body>
