<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="tło2">
  <div class="navbar-font">
    <div class="text-center">
      <h1 style="font-size: 40px;font-weight: bold">Spis treści(Klikalna lista/navigacja klikniecie powoduje przejscie pod odpowiednia strone)</h1>
      <div class="row d-flex justify-content-center">
        <ul class="nav flex-column">
          <li class="nav-item active"><a class="nav-link active" routerLink="/wstep" routerLinkActive="active">1.
            Wstep</a></li>
          <li class="nav-item active"><a class="nav-link" routerLink="/definicje" routerLinkActive="active" role="tab"
                                         aria-controls="profile">2. Co to soap a co to rest</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/stanowosc" routerLinkActive="active" role="tab"
                                  aria-controls="profile">3. Stanowość</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/format" routerLinkActive="active" role="tab"
                                  aria-controls="profile">4. Format</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/cache" routerLinkActive="active" role="tab"
                                  aria-controls="profile">5. Cachowanie</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/protokol" routerLinkActive="active" role="tab"
                                  aria-controls="profile">6. Protokol</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/configuracja" routerLinkActive="active" role="tab"
                                  aria-controls="profile">7. Konfiguracja</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/wydajnosc" routerLinkActive="active" role="tab"
                                  aria-controls="profile">8. Wydajnosc(TO DO)</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/bezpieczenstwo" routerLinkActive="active" role="tab"
                                  aria-controls="profile">9. Bezpieczenstwo(TO DO)</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/rozmiar-danych" routerLinkActive="active" role="tab"
                                  aria-controls="profile">10. Rozmiar danych</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/dane" routerLinkActive="active" role="tab"
                                  aria-controls="profile">11. Dane</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/javaAPI" routerLinkActive="active" role="tab"
                                  aria-controls="profile">12. Java API</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/serwer" routerLinkActive="active" role="tab"
                                  aria-controls="profile">13. Komunikacja z Serwerem</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/wykorzystanie" routerLinkActive="active" role="tab"
                                  aria-controls="profile">14. Wykorzystanie REST-SOAP i SOAP-REST</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/zastosowania" routerLinkActive="active" role="tab"
                                  aria-controls="profile">15. Zastowania</a></li>

        </ul>
      </div>
    </div>
  </div>
  <div class="text-font">
  <router-outlet></router-outlet>
  </div>
</div>


</body>

